.footer {
    display: flex;
    width:100%;
    padding:$spacing-8 0;
}

.copy {
    font-family: $font-family-en;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    color:$color-gray-500;
}

/* mobile */
@media (max-width:767px) {
    .footer {
        padding-left:$spacing-6;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }    
}