.footer {
    flex:0 0 7.6rem;
    display: flex;
    width:100%;
    height:7.6rem;
    padding:$spacing-8 0;
}

.copy {
    font-family: $font-family-en;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    color:$color-gray-500;
}

/* pc wide */
@media (min-width:1440px) { 
    .footer {
        padding-left:$container-padding-x;
        padding-right:$container-padding-x;        
    }
}
/* pc */
@media (min-width:1025px) and (max-width:1439px) {
    .footer {
        padding-left:$container-padding-x;
        padding-right:$container-padding-x;        
    }
}

/* tablet */
@media (min-width:768px) and (max-width:1024px) {
    .footer {
        padding-left:$container-padding-x;
        padding-right:$container-padding-x;        
    }    
}

/* mobile */
@media (max-width:767px) {
    .footer {
        padding-left:$spacing-6;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }    
}