.wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;     
    width:100%;    
    height:100%;
}

@media (min-width:1440px) { /* pc wide */ 
    .wrap {
        min-width:$container-min-width;
        margin:0 auto;
    }
    .main {
        padding-left:$container-padding-x;
        padding-right:$container-padding-x;
    }    
}
@media (max-width:1439px) {/* pc wide 이하 */     
    .wrap {
        margin:0 auto;
    }    
    .main {
        padding-left:$container-padding-x;
        padding-right:$container-padding-x;
    }    
}

@media (max-width:767px) {/* mobile 이하 */ 
    .main {        
        padding-left:$container-padding-x;
        padding-right:$container-padding-x;
        padding-bottom:$container-padding-x;
    }
}

.main {
    flex: 1 1 auto;
    overflow: auto;
}

//반응형 정의
@media (min-width:1440px) { /* pc wide */ }
@media (min-width:1025px) and (max-width:1439px) { /* pc */ }
@media (min-width:768px) and (max-width:1024px) { /* tablet */}
@media (max-width:767px) {/* mobile */ }
